.header{
    width: 100%;
    height: 100%;
}

.header-container{
    height: 100%;}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin: auto;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;}

h2{
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;}

h2.our-story:after{
    display: flex;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
    margin: 10px auto;}

h2.title-section{
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: left;
    color: #48555b;}

h2.title-section:after{ 
    display: flex;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
    margin: 10px 0;}


h3.main-content-text{ 
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: auto;
    letter-spacing: 0.01em;
    color: #48555b;}

h3.capabilities-card-title{
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
}

p{ 
    font-family:"Open Sans", sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;}

span{font-family:"Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 70px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;}

main{max-width: 941px;
    width: 100%;
    margin: 0 auto;}

.bground{
    padding: 0 15px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:url(../Images/bg.png) center;
    background-repeat: no-repeat;
    background-size: cover;}

span.blue{
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #16ace8;
}

p.main-text{
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    text-align:left ;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;}

.header-nav-container{
    width: 100%;;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 42px;}

.menu-link{
    font-family: "Open Sans, sans-serif";
    font-weight: 600;
    font-size: 12px;
    color: black;
    letter-spacing: 0.09em;
    text-decoration: none;}

.main-container{
    max-width: 1130px;
    width: 100%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 77px;
}

.main-content{
    display: flex;
    flex-direction: column;}

.Cards{
    display: flex;
    gap: 20px;}

.Card{position: relative;}

.Card span{
    font-family: "Open Sans, sans-serif";
    font-weight: 800;
    font-size: 24px;
    height: 50px;
    width: 25px;
    color: #fff;
    letter-spacing: 0.01em;
    line-height: 121%;
    position: absolute;
    top: 15px;
    left: 15px;
}

img.card-image{
    object-fit: cover;
    width: 140px;
    height: 224px;}

img.capabilities-card-img{
    width: 65px;
    height: 75px;
    margin-left: 20px;
    margin-top: 38px;
}

.capabilities-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

p.capabilities-text{
    font-family: "Open Sans, sans-serif";
    font-weight: 400;
    font-size: 13px;
    line-height: 173%;
    max-width: 405px;
    max-height: 38px;
    text-align: left;
    margin-left: 154px;
    letter-spacing: 0.02em;
    color: #48555b;
}

p.capabilities-card-text{
    font-family: "Open Sans, sans-serif";
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    line-height: 177%;
    letter-spacing: 0.01em;
    margin-left: 20px;
    margin-bottom: 39px;
    color: #48555b;}

.left{max-width: 201px;}

.capabilities-btn{
    display: flex;
    margin-left: 31px;}

.btn{
    font-family: "Open Sans, sans-serif";
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 6px 20px;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-decoration: none;
    cursor: pointer;
    transition: 5ms;}

.btn.blue{
    background-color: #00a4e5;
    color: #fff;
    min-height: 40px;}


.capabilities-cards{
    display: flex;
    gap: 28px;}

.capabilities-card{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    max-height: 330px;
    max-width: 295px;}
